/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 juin 2019, 19:40:37
    Author     : Loic
*/

* {
    font-family: 'Cursive'; /* Police par défaut */
    margin: 0; /* Mise à 0 des marges externes */
    padding: 0; /* Mise à 0 des marges internes */
    text-decoration: none; 

}

/* Définition de la police "Cursive" */
@font-face{ 
    font-family: "Cursive";
    src: url('../Police/Cursive.ttf') format("truetype");


}
/* Définition de la police "Abecedary" */
@font-face{ 

    font-family: "Abecedary";
    src: url('../Police/Abecedary.ttf') format("truetype");


}



body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
}

/*********************************************
            * Banniere
 *********************************************/
#banniere{
    margin-top: 40px;
    width: 100%;
    height: 80px;
    padding-top: 16px;
    background:#a8a9ad;
}

.logobarre{
    display: flex; /* Ce conteneur est "flexible" */
    position: relative;
    left: 150px;
    margin-left: -300px;
    background: transparent;
    margin-top: -30px;
}



/*********************************************
            * Sous menu de la barre
 *********************************************/
.submenu{
    display:none;
}

nav li:hover .submenu{
    display: inline-block;
    position:absolute;
    top:215px;


}


.submenu li a {
    padding: 15px 30px;
    font-family: "Abecedary";
    font-size: 20px;
    width: 205px;
    color: black;


}

/*********************************************
            * Menu Principal
 *********************************************/
nav ul li {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    list-style-type: none; /* Cette liste n'a pas de puce */
    font-size: x-large; /* Le texte est grossi en XL */
    flex-grow: 1; /* L'espace occupé est élargie */

}

nav ul li a {
    padding: 10px; /* Marge intérieure */
    color: white; /* Couleur du texte */
    padding-right: 50px;
}

ul li a {
    font-size: 30px;

}

nav input {
    display: none;
}
a{
    color: #FFFFFF;
    background:#a8a9ad;

}
nav {
    margin-left: 200px;
    z-index:10;
}
nav ul {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* Les éléments sont mis côte à côte */
    justify-content: space-between; /* Les éléments sont répartis équitablement */ 
    margin-top: -108px;


}

/*********************************************
            * Bloc central de la page
 *********************************************/

.container-principal{
    display:flex;
    flex-direction: row;
    margin-top: 45px;

}
#droite{
    margin-top: 80px;
    display:flex;
    margin-left:-100px;
}

#gauche{
    display:flex;
    margin-top: 100px;
    margin-right: 200px;

}

#gauche img{
    height:590px;
    margin-top:-69px;

}
.titre-cache{
    display: none;
}

/*********************************************
            * Tous les titres
 *********************************************/
h2{
    font-size:70px;
    color:#8c8b8b;
}
h4{
    font-size:40px;
    color:#8c8b8b;
    margin-bottom:50px;
}
#titre4 {
    font-size: 48px !important;
}
h3 {
    font-size: 24px;
    line-height: 1.4em;
    color:#8c8b8b;

}
h4{
    font-size: 24px;
    line-height: 1.4em;
    color:#ffcb4e;
}

/*********************************************
            * Bouttons en forme de cercle
 *********************************************/
.style-button{
    color:#8c8b8b;;
    background: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size:20px;

}

.logo-button img{
    background-color: white;
}
.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 6px;
    border-color: #EA8024;
    border-style:solid;
    margin-right:30px;
    position : relative;

}


#cercle2 {

    border-color: #EA7F24;
    margin-left:40px;
    margin-right:40px;

}
#cercle3 {

    border-color: #F7C80D;
    margin-left:40px;

}

.services{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 10px;
    justify-content: space-between;
}


.logo-button{
    position:  absolute;
    display: flex;
    top:  -40px;
    left: -20px;


}
/*********************************************
            * Texte
 *********************************************/

.slogan{
    margin-top: 40px;
}
/*********************************************
            * Pied de page
 *********************************************/

footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    background-color:#1ed0c2;
    margin-top: 25px;

}

footer p {
    font-size: 20px;
}

/*********************************************
            * Adaptation pour smartphones et tablettes
 *********************************************/


@media screen and (max-width:700px) {
    body {
        font-size: large;
    }

    header, section {
        width: auto; /* Suppression de la largeur définie */
    }

    header img {
        width: 100%; /* Bannière sur toute la largeur */
        background-color: black; /* Extension artificielle noire */
        padding-bottom: 15px; /* du bas de l'image sur 15 pixels */
    }

    nav {
        /*display: block;*/
        position: relative;
        top: 7px;
        left: 7px;
        z-index: 1;
    }

    nav ul {
        display: flex; /* Ce conteneur est "flexible" */
        flex-direction: column; /* Les éléments sont mis côte à côte */
        align-items: flex-start; /* Alignement sur la gauche */
        position: absolute;
        margin: -39px 0 0 -60px;
        padding: 50px 10px 10px 60px;
        background: rgb(168, 169, 173);
        list-style-type: none;
        transform: translate(-150%, 0);
        transition: transform 0.5s ease;
    }

    nav ul li {
        display: list-item;
        padding: 10px 0;
        width: 100%;
    }


    nav input {
        display: block; /* Affichage de l'input pour pouvoir cliquez dessus */
        position: absolute;
        opacity: 0; /* input transparent */
        z-index: 2; /* On le place au-dessus du bouton de menu (hamburger) */
    }

    /* Création artificielle de l'icone de menu (hamburger) */
    nav span {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        margin-left: 0px;
        border-radius: 3px;
        z-index: 1; /* En dessous de l'input défini avant */
        /*transform-origin: 4px 0px; /* Modification du centre pour rotation */
        transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;
    }

    /* Toutes les barres en blanc */
    nav input:checked ~ span {
        background: white;
    }

    /* On fait pivoter la première de 45° (sens horaire) */
    nav input:checked ~ span:nth-child(3) {
        transform: rotate(45deg) translate(7px, 5px);
    }

    /* On fait pivoter la dernière de 45° (sens anti-horaire) */
    nav input:checked ~ span:nth-child(5) {
        transform: rotate(-45deg) translate(10px, -6px);
    }

    /* On cache la barre du milieu */
    nav input:checked ~ span:nth-child(4) {
        opacity: 0; 
    }

    /* On annule la translation vers la gauche qui a caché le menu */
    nav input:checked ~ ul {
        transform: none;
    }

   
    .logobarre{
        display:none;
    }
    #banniere{
        background-color: white;
        margin-top: -10px;
    }
    #banniere nav{
        margin-left: 0px;
    }
    #gauche{
        display:none;
    }
    .services{
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        margin-left: 139px;
        margin-top: 36px;
    }
    h4, h3{
        display: none;
    }
    .button{
        margin:20px;
        width: 150px;
        height: 150px;
    }
    footer p {
        font-size: 10px;
        
    }
    footer{
        height: 50px;
    }
    h2{
        
    margin-right: 0px;
    margin-left: 150px;
    color: red;
    font-size:30px;
    margin-top:-70px;

    }
    
    #submenuCalcul{
        position: relative;
        top: 2px;
        left: 2px;
        z-index: 1;
        margin-top: -2px;
        background-color: transparent;
        padding:2px;
        margin-left: 20px;
    }
    #submenuRevision {
        position: relative;
        z-index: 1;
        margin-top: -2px;
        margin-left: 20px;
        margin-right:150px;
        background-color: transparent;
        padding:2px;
    }
    #submenuCalcul li a,#submenuRevision li a {
        padding: 15px 30px;
        font-family: "Abecedary";
        font-size: 20px;
        width: 220px;
        color: white;  
    }
    #submenuCalcul ul,#submenuRevision ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        margin: -39px 0 0 -60px;
        padding: 50px 10px 10px 60px;
        background: black;
        list-style-type: none;
        transform: translate(-100%, 0);
    }
    #submenuCalcul ul li,#submenuRevision ul li {
        display: list-item;
        padding: 10px 0;
        width: 100%;
    }

    #submenuCalcul,#submenuRevision{
        position: relative;
        top: 7px;
        left: 7px;
        z-index: 1;
    }
    #submenuCalcul ul,#submenuRevision ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        margin: -39px 0 0 -60px;
        padding: 50px 10px 10px 60px;
        background: black;
        list-style-type: none;
        transform: translate(-100%, 0);
    }
    #submenuCalcul ul li,#submenuRevision ul li{
        display: list-item;
        padding: 10px 0;
        width: 100%;
    }
    #affiche-submenu1{
        margin-top: -55px;
        width: 100%;
        height: 60px;
    }

    #affiche-submenu2{
        margin-top: -55px;
        width: 100%;
        height: 60px;
    }


}